* h1,
p,
h3,
h2,
ol,
ul,
li,
table {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
body {
  background-color: #eaf6f6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 2.5%;
}
h1 {
  font-family: "Roboto", "Open Sans", "Helvetica Neue",
    sans-serif;
}
